<div class="logo-menu-bar">
  <div class="nav-left">
    <div>
      <a class="logo">
        <img
          class="logo-img"
          src="assets/icons/amazon-logo-with-white-text.png"
          alt="amazon-logo"
        />
        <span class="logo-text">.in</span>
      </a>
    </div>
    <div class="delivery-location">
      <a class="location">
        <div class="location-icon-container">
          <img
            class="logo-img location-icon"
            src="assets/icons/location-icon-white.png"
            alt="amazon-logo"
          />
        </div>
        <div class="location-text">
          <span class="location-line-1">Delivering to Bangalore</span>
          <span class="location-line-2">Update Location</span>
        </div>
      </a>
    </div>
  </div>
</div>
